# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SqlCompare.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\maksi\Рабочий стол\Курсовая работа\SqlCompare\.idea\.idea.SqlCompare\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
